/**
 * --------------------
 * $COLORS
 * --------------------
 */

:root {
  --green-branding: #2D683C;
  --green-branding-light: #7FBA58;
  --green-branding-dark: #0D3016;

  --blue-branding: #123450;
  --blue-branding-light: #4195B4;
  --blue-branding-dark: #10304A;

  --lightblue-gradient: #EEF6F8;
  --lightgreen-gradient: #EEF8F1;

  --blue-content-text: #2E3338;
  --blue-learn-more: #05729A;
  --brightblue: #0E95B6;
  --alt-blue-primary: #6C63FF;
  --alt-blue-secondary: #779FBD;

  --yellow-icon: #C1CA43;
  --yellow-icon-bg: rgb(250, 251, 200, 0.64);

  --blue-icon: #2C4C58;
  --blue-icon-bg: rgb(18, 52, 80, 0.22);

  --green-icon: #006838;
  --green-icon-bg: #D7EBDD;

  --brown-icon: #463505;
  --brown-icon-bg: #D3CFC2;

  --gray-1: #F1F1F1;
  --gray-2: #E0DFDF;
  --gray-3: #B9B9B9;
  --gray-4: #A8A4A4;
  --gray-5: #707070;
  --gray-6: #727272;
  --gray-7: #4B4B4B;

  --button-shadow: rgb(0,0,0, 0.16);
  --card-shadow: rgb(0,0,0, 0.16);

  --white: #FFFFFF;
  --white-text: #FFFFFF;

  --black: #000000;
  --black-text: #000000;
}
