/**
 * --------------------
 * $BASE
 * --------------------
 */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  line-height: normal !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
